<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['home']">Angular 5 Image Gallery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" aria-controls="galleryNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']" (click)="isCollapsed = true">Demo</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['question']" (click)="isCollapsed = true">Question Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/rowhani/angular5-image-gallery" target="_blank" (click)="isCollapsed = true">Source Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://ir.linkedin.com/in/paymanrowhani" target="_blank" (click)="isCollapsed = true">Developer's Profile</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container image-gallery">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">Payman Rowhani @ Copyright {{year}}</span>
  </div>
</footer>